.blue{color:blue;}
.green{color:green;}
.red{color:red}

.styl1{color:black; text-align:center}
.styl2{color:black; text-align:left}
.arial{font-family:verdana,arial}
body{color:grey;}
h1{color:black; text-align:center}